#level-header {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

#level-image {
    width: 350px;
    position: relative;
    left: 155px;
}

#game-header {
    margin-right: 25px;
}

#result-text {
    text-align: center;
    margin-top: 50px;
}

button {
    color: white;
    background: tomato;
    font-family: 'Shadows Into Light Two', serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 275px;
    padding: 5px 10px;
    cursor: pointer;
}