* {
    box-sizing: border-box;
}

body {
    background: #57AFDD;
    margin: 0;
}

#paper-container {
    background-image: url('../assets/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 750px;
    margin: 0 auto;
    position: relative;
    bottom: 200px;
}

#content-container {
    width: 65%;
    height: 650px;
    margin: 250px auto;
    padding: 5px;
}

header {
    width: 90%;
    margin: 125px auto 30px auto;
}

h1, h2 {
    margin: 5px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

main {
    width: 90%;
    margin: 0 auto;
}

#user-form img {
    width: 60px;
    padding: 10px;
}

button {
    display: block;
    margin: 20px 0;
}

[type="radio"] {
    display: none;
}

input:checked + img {
    border: 2px solid #FF6D41;
    border-radius: 50%;
}

#user-avatar {
    width: 30px;
}

#user-state span {
    font-weight: bold;
}