#map {
    width: 100%;
    position: relative;
}

#map-header {
    display: flex;
    justify-content: space-between;
}

a {
    z-index: 2;
}

.level-link {
    color: #000;
    background: #FFF;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    padding: 2px 4px;
}

.level-link:hover {
    color: #FFF;
    background: #57AFDD;
}

